# Ignore the cgit bare repositories (they are dynamically synced)
git/
!mirror/

# Ignore Zola generated static files
docs.zenc-lang.org/public/

# Ignore binaries and archives
*.tar.gz
*.zip

# Ignore system files
.DS_Store

# Ignore generated sponsors data
docs.zenc-lang.org/static/data/sponsors.json
zenc/sponsors.json

zola
